[submodule "macosx/libs/MASPreferences"]
	path = macosx/libs/MASPreferences
	url = https://github.com/shpakovski/MASPreferences.git
[submodule "macosx/libs/AudioFrameworks"]
	path = macosx/libs/AudioFrameworks
	url = https://github.com/sbooth/AudioFrameworks.git
[submodule "macosx/libs/libfaad"]
	path = macosx/libs/libfaad
	url = https://github.com/gypified/libfaad.git
[submodule "macosx/libs/libcdio"]
	path = macosx/libs/libcdio
	url = git://git.sv.gnu.org/libcdio.git
