<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>adplug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>alac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>artwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>cdda.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>cocoaui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>coreaudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>coredecoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>dca.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>deadbeef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>dumb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>ffap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>flac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>gme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>lastfm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>libmad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>libwavpack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>libzip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>m3u.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>mms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>mpgmad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>musepack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>shn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>sid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>sndfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>tta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>uade.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>vfs_curl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>vfs_zip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>vorbis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>vtx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>wavpack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>wildmidi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>wma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0702983617E9113200710234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0702996717E916C200710234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0715DF5817F6395100A15158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075F8ACA1A082A99005A4409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075F8AD71A09622D005A4409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075F8B021A096D51005A4409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075F8B111A097261005A4409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075F8B1B1A0979C0005A4409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075F8B211A097A09005A4409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075F8B261A097B15005A4409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07881E971689C3710066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07881EAC1689C4920066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07881ECF1689C5550066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07881EFC1689C6FF0066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07881F421689C8200066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07881F6F1689C9040066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078821381689CC120066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0788215A1689CC870066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078821E41689CD850066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078821F61689CE2D0066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078822081689CEC80066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0788221E1689CF270066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078822471689CF9D0066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078822561689D0000066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078822701689D0710066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0788227E1689D10B0066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078823F2168A05700066142D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0796AF4E1688DE100079D590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0796B0B61688EE720079D590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0796B0D51688EFAE0079D590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0796B0E51688F0A80079D590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0796B12D1688F3B10079D590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0796B2DE1688F7860079D590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0796B313168920E10079D590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07CF5C321A2BB0F50021AEAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D58632177510E7003A01DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07D587B717751897003A01DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DC88FA1691AA2C00DB0456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
